<style>
  #logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: .5rem;
    padding-right: 1rem;
    /* background: var(--accent); */
    color: var(--color);
  }
  #logo-wrapper a {
    padding: 0;
    color: inherit;
    display: flex;
    align-items: center;
    margin-right: .5em;
    text-decoration: none;
    max-width: 200px;
    font-size: 16pt;
  }

  #logo {
    height: 2em;
  }
</style>
<div id="logo-wrapper">
  <a href="%home_link%">
    <img id="logo" src="/static/assets/logo.svg" />
  </a>
  %version_options%
</div>