<footer>
    Instant Docs
    <div class="grid">
        <div class="column">
            <span>powered by</span>
            <a href="https://www.fusejs.io/" target="_blank"><img class="footer-icon" src="/static/assets/fuse.png" alt="fusejs"></a>
        </div>
        <div class="column">
            <span></span>
            <a href="https://expressjs.com/" target="_blank"><img class="footer-icon" src="/static/assets/express-icon.svg" alt="expressjs"></a>
            <a href="https://purecss.io/" target="_blank"><img class="footer-icon" src="/static/assets/pure.ico" alt="purecss"></a>
        </div>
    </div>
</footer>