<!DOCTYPE html>
<html lang="%lang%" x-version="%version%">
  <head>
    <meta charset="%encoding%" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="%meta_description%" />
    <meta name="keywords" content="%meta_keywords%" />
    <link rel="icon" href="/static/assets/favicon.svg">
    <title>%meta_title%</title>
    <!-- <link rel="stylesheet" href="/static/css/pure-min.css" /> -->
    <link rel="stylesheet" href="/static/css/sidebar.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/instajax.css" />
    <script type="text/javascript" src="/static/plugins/log-logo.js" ></script>
    <script type="text/javascript" src="/static/plugins/instajax.js" ></script>
  </head>
  <body>
    <div class="instajax-progress-bar loading"></div>
    <div id="layout">
      <aside id="menu">
        <header>
          %logo%
          %nav%
        </header>
        <a href="#menu" id="menuLink" aria-label="Toggle menu">
          <span></span>
        </a>
      </aside>
      <main>
        %header%
        <article>
          %search%
          %generated_table_of_contents%
          %content%
        </article>
      </main>
      %footer%
    </div>
    <script src="/static/js/ui.js"></script>
    <script type="module" src="/static/js/search.js" defer></script>
  </body>
</html>